<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonder Lust</title>
</head>
<body>
    <h1>Edit listing ...</h1>

    <form action="/listing/<%=listingDetails._id%>?_method=PUT" method="post">
        <input type="text" name="listing[title]" value="<%=listingDetails.title%>">
        <br><br>
        <textarea name="listing[description]" id="" ><%=listingDetails.description%></textarea>
        <br><br>
        <input type="text" name="listing[image][url]"  value="<%=listingDetails.image.url%>">
        <br><br>
        <input type="number" name="listing[price]"  value="<%=listingDetails.price%>">
        <br><br>
        <input type="text" name="listing[location]"  value="<%=listingDetails.location%>">
        <br><br>
        <input type="text" name="listing[country]'"  value="<%=listingDetails.country%>">
        <br><br>
        <button>Add</button>
        
    </form>
</body>
</html>